<p><%= @event_instance.email_greeting %></p>

<p><%= @event_instance.email_intro %></p>

<% uri = URI.parse @event_instance.resource_url
   uri.scheme ||= 'https'
   uri.hostname ||= 'assembly.fundaction.eu'
 %>
<p>
<%= link_to uri.to_s, uri.to_s %>
</p>

<p><%= @event_instance.email_outro %></p>
