.chosen-container {
  margin-bottom: 1rem;
  width: 100%;
}
.chosen-container-single {
  font-size: inherit;
  .chosen-single {
    height: 2.4375rem;
  }

}
.chosen-container-single .chosen-single,
.chosen-container-multi .chosen-choices {
  padding: 0.5rem;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  background-image: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(26, 24, 29, 0.1);
  box-shadow: inset 0 1px 2px rgba(26, 24, 29, 0.1);
}

.chosen-container-multi .chosen-choices {
}

.chosen-container-active .chosen-choices {
  border: 1px solid red;
}

.chosen-container-single .chosen-single div b {
  background: url("chosen-sprite.png") no-repeat 0px 10px;
}
.chosen-container-single.chosen-container-active .chosen-single div b {
  background-position: -18px 12px;
}

// hide stuff in print
@media print {
  .author-data img, nav.navbar, .language-choose, .topbar__user__logged, .process-nav { display: none }
}

// decidim bug?

.ql-toolbar button.ql-video { margin: auto; }
